<div class="card">
  <ul>
    <li class="{class}"><img src="{imgurl}"></li>
    <li class="{class}"><img src="{imgurl}"></li>
    <li class="{class}"><img src="{imgurl}"></li>
    <li class="{class}"><img src="{imgurl}"></li>
  </ul>
  <ul>
    <li class="{class}"><img src="{imgurl}"></li>
    <li class="{class}"><img src="{imgurl}"></li>
    <li class="{class}"><img src="{imgurl}"></li>
    <li class="{class}"><img src="{imgurl}"></li>
  </ul>
</div>
